<ion-header>
  <ion-toolbar>
    <ion-title slot="start">register to travel abroad</ion-title>

    <ion-buttons slot="end">
        <ion-button class="button" color="success" [routerLink]="['/login']" >Login</ion-button>
    </ion-buttons>  

  </ion-toolbar>
</ion-header>

<ion-content class="contentimg">
  <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>

        <ion-col size="10" class="login" style="margin-top: 20%; background-color: rgb(174, 216, 174); border-radius: 9px;">
        <ion-list style="background-color: transparent; --margin-top: 40px;">
          <h3 class="ion-text-center">Register here</h3>

          <div class="row" *ngIf="authError">
              <div class="col-12 alert alert-danger">
                  {{ authError?.message }}    
              </div>
          </div>

          <ion-item color="rgb(32, 58, 49)">
              <ion-label position="floating">Username</ion-label>
              <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
          </ion-item>
          <ion-item color="rgb(32, 58, 49)" lines="green">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"[(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item color="rgb(32, 58, 49)">
              <ion-label position="floating">Phone number</ion-label>
              <ion-input type="number"[(ngModel)]="number" name="number"></ion-input>
          </ion-item>
    
          <ion-item color="rgb(32, 58, 49)">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"[(ngModel)]="password" name="password"></ion-input>
          </ion-item>

          <ion-item color="rgb(32, 58, 49)">
              <ion-label position="floating">Confirm password</ion-label>
              <ion-input type="password"[(ngModel)]="cpassword" name="cpassword"></ion-input>
          </ion-item>


          <ion-button fill="solid" expand="block"  class="button" color="success" type="submit">Register</ion-button>
        </ion-list>  
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
  
