<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button  color="light" defaultHref="tabs/tab1" icon="md-arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
        My Profile
    </ion-title>
  </ion-toolbar>   
</ion-header>

<ion-content class="ion-padding">
    <ion-item>
        <ion-thumbnail slot="start" style="width: 60px; height: 60px;">
          <img style="border-radius: 50%;" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <!-- <ion-text style="font-size: 12px; font-weight: 800;" color="primary" slot="end">Upload picture</ion-text> -->
        <ion-badge slot="end" color="secondary" mode="ios">Upload picture</ion-badge>
      </ion-item>
      
    <ion-item lines="full">
        <ion-label position="floating">First Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item lines="full">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item lines="full">
              <ion-label position="floating">Mobile Number</ion-label>
              <ion-input type="tel"></ion-input>
            </ion-item>
</ion-content>
