.contentimg {
    --background: url('https://cdn.pixabay.com/photo/2019/11/14/21/16/paris-4627143__340.jpg'); 
    --background-size: cover;
    --height: 100% !important;
   
}
.login{
    --margin-top: 20%!important;
}
